.grid-cell {
  border: solid 1px;
  width: 10em;
  height: 10em;
  cursor: pointer;
}

.grid-cell-selected {
  border: solid 1px;
  width: 10em;
  height: 10em;
  cursor: pointer;
  background: rgb(3, 98, 15);
}
